[alias]
  l = log --graph --oneline --all --decorate
  co = checkout
  pp = pull --prune
  sw = switch
  s = status
  cp = cherry-pick

[commit]
  template = /home/{{ .chezmoi.username }}/.commit_template

[core]
  editor = nvim

[diff]
  compactionHeuristic = true

[ghq]
  root = /home/{{ .chezmoi.username }}/src

[gpg]
  program = gpg

[init]
  defaultBranch = main

[push]
  default = simple

[pull]
  rebase = true

[user]
  name  = {{ .git.user.name }}
  email = {{ .git.user.email }}

[git-pr-release]
  token =

[rebase]
  autostash = true

[credential "https://source.developers.google.com"]
  helper = gcloud.sh

[includeIf "gitdir:~/src/github.com/"]
  path = ~/.config/git/github

[credential "https://github.com"]
  helper =
  helper = !/home/{{ .chezmoi.username }}/.local/share/mise/shims/gh auth git-credential

[credential "https://gist.github.com"]
  helper =
  helper = !/home/{{ .chezmoi.username }}/.local/share/mise/shims/gh auth git-credential

