{{- $cmd := printf `gpg --list-secret-keys --with-colons %q | awk -F: '/^fpr:/ {print $10; exit}'` .github.email -}}
{{- $signingkey := trim (output "bash" "-c" $cmd) -}}

[commit]
  gpgsign = true

[user]
  name = {{ .github.name }}
  email = {{ .github.email }}
  signingkey = {{ $signingkey }}

