{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") -}}
#!/usr/bin/env bash

sudo apt update -y

{{ range .packages.ubuntu.apt -}}
dpkg -s "{{ . }}" >/dev/null 2>&1 || sudo apt install -y "{{ . }}"
{{ end -}}
{{ end -}}
